int main () {
   int x;
   int [10] n; 
   x = 999999;
   n[0] = 22 ;
   n[1] = 33 ;
   n[2] = 44 ;
   n[3] = 55 ;
   n[4] = 66 ;
   n[5] = 77 ;
   n[6] = 88 ;
   n[7] = 99 ;
   n[8] = 333;
   n[9] = 444;
   return 0;
}
