int main () {
   int x;
   int [10] n; 
   x = 999999;
   n[0] = 22 ;
   n[1] = 33 ;
   n[2] = 44 ;
   n[3] = 55 ;
   n[4] = 66 ;
   n[5] = 77 ;
   n[6] = 88 ;
   n[7] = 99 ;
   n[8] = 333;
   n[9] = 444;
   print (n[0]);
   print (n[1]);
   print (n[2]);
   print (n[3]);
   print (n[4]);
   print (n[5]);
   print (n[6]);
   print (n[7]);
   print (n[8]);
   print (n[9]);
   return 0;
}
