int fib(int x)
{
  if (x < 2) return 1;
  return fib(x-1) + fib(x-2);
}

int main()
{
  putchar(fib(20));
  putchar(fib(21));
  putchar(fib(22));
  putchar(fib(23));
  putchar(fib(24));
  putchar(fib(25));
  return 0;
}
