void printi(int val)
{
        char[10] stack;
        int ptr;
        if(val < 0)
        {
                putchar(45);
                val *= -1;
        }
        while(val != 0 || ptr == 0)
        {
                stack[ptr++] = '0' + (val % 10);
                val /= 10;
        }
        while(--ptr >= 0) putchar(stack[ptr]);
        putchar(10);
        return;
}



int gcd(int a, int b) {
  while (a != b)
    if (a > b) a = a - b;
    else b = b - a;
  return a;
}

int main()
{
  printi(gcd(14,21));
  printi(gcd(8,36));
  printi(gcd(99,121));
  return 0;
}
