void print(char[] s)
{
	int i;
	while(s[i] != 10)
	{
		putchar(s[i++]);
	}
	putchar(10);
	return;
}

int main()
{
	char[6] str = {'h','e','l','l','o',10};
	char[6] ing = {'w','o','r','l','d',10};
	print(str);
	print(ing);
	str = ing;
	print(str);
	print(ing);
	return 0;
} 
