int main()
{
  int i;
  int j;
  int x;
  i = 5;
  j = 6;
  x = 9;
  while (i > 0) {
    i = i - 1;
    if ( i == 9 ) {
      while( j > 0)
      {
        if (x == 9)
        {
           continue;
        }
      } 
    }
  }
  return 0;
}
