int main()
{
  int i;
  int x;
  int j;
  for (i = 0 ; i < 5 ; i++ ) {
     i++;
     if(i == 9)
     {
        for(j = 0; j < 9; j++)
        {
          if(i ==9)
          {
           continue;
          }
        }
     }
     else{
        x = 9999;
     }
  }
  return 0;
}
