

void printi(int val)
{
        char[10] stack;
        int ptr;
        if(val < 0)
        {
                putchar(45);
                val *= -1;
        }
        while(val != 0 || ptr == 0)
        {
                stack[ptr++] = '0' + (val % 10);
                val /= 10;
        }
        while(--ptr >= 0) putchar(stack[ptr]);
        putchar(10);
        return;
}







int cond(bool b)
{
  int x;
  if (b)
    x = 42;
  else
    x = 17;
  return x;
}

int main()
{
 printi(cond(true));
 printi(cond(false));
 return 0;
}
