int main()
{
  char h;
  char e;
  char l;
  char o;
  char w;
  char r;
  char d;
  int x;
  int n;
  int j;
  h = 'H';
  e = 'e';
  l = 'l';
  o = 'o';
  w = 'W';
  r = 'r';
  d = 'd';
  x = 32;
  n = 10;
  j = 33;
  putchar( n );
  putchar( h );
  putchar( e );
  putchar( l );
  putchar( l );
  putchar( o );
  putchar( x );
  putchar( w );
  putchar( o );
  putchar( r );
  putchar( l );
  putchar( d );
  putchar( j );
  putchar( n );
  putchar( n );
  return 0;
}
